html { font-size: 62.5%; }   // 1rem=10px
body
{
    background-color: #F8F8F8;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}
.active
{
    background-color: #841B11 !important;
}