.h-100
{
    height: 100%;
}
.w-100
{
    width: 100%;
}
.u-border-left
{
    border-left: 2px solid rgba(#ffffff,.2);
}
.u-color-white{
    color: white !important;
}
.u-padding-bottom{
    padding-bottom: 0 !important;
}
.u-header-list{
    color: #296EB9 !important;
    text-decoration: underline !important;
    font-size: 1.8rem !important;
}