$bg-header:#19325F;
$border-around-search:#2B5078;
$color-placeholder-search:#E5E5E5;
$color-heading:#B94238;
$border-bottom:#707070;
$section-one-color:#E5E5E5;
$color-head:#19325F;
$color-tab:#8F9397;
$dark-color:#393939;
$dark-color-text:#D6D6D6;
$red-color:#841B11;
$bg-footer:#262626;